.btnMausoleosPrimaryLight {
    background-color: #9b7c0a !important;
    color: white !important;
}

.btnMausoleosPrimaryDark {
    background-color: #B49A37 !important;
    color: white !important;
}